# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore environment variables file
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db

plain.md
commands.md